<div class="modal fade" id="confirmUpdateSubmission" tabindex="-1" aria-hidden="true" [formGroup]="surveyUpdateForm">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmSubmissionLabel">Änderungen speichern</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="surveyDates" class="row mb-2 px-1">
          <div class="col-sm">
            <label for="startDate" class="form-label labelInput">Startdatum*</label>
            <input id="startDate" name="startDate" type="datetime-local" class="form-control" required
                   formControlName="startDate">
            <div *ngIf="(startDate?.invalid && (startDate?.dirty || startDate?.touched))"
                 class="alert alert-danger p-2 mt-1 mb-0">
              <div *ngIf="startDate?.errors?.required">
                Bitte geben Sie ein Startdatum an.
              </div>
              <div *ngIf="startDate?.errors?.dateInPast">
                Das Startdatum muss in der Zukunft liegen.
              </div>
            </div>
          </div>

          <div class="col-sm">
            <label for="endDate" class="form-label labelInput mt-3">Enddatum*</label>
            <input id="endDate" name="endDate" type="datetime-local" class="form-control" required
                   formControlName="endDate">
            <div *ngIf="(endDate?.invalid && (endDate?.dirty || endDate?.touched))"
                 class="alert alert-danger p-2 mt-1 mb-0">
              <div *ngIf="endDate?.errors?.required">
                Bitte geben Sie ein Enddatum an.
              </div>
              <div *ngIf="endDate?.errors?.dateInPast">
                Das Enddatum muss in der Zukunft liegen.
              </div>
            </div>
          </div>
        </div>
        <div class="alert alert-danger p-2 mt-1 mb-2 mx-1" *ngIf="surveyUpdateForm.hasError('endDateBeforeStartDate')">
          Das Startdatum muss vor dem Enddatum liegen.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
          Abbrechen
        </button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitSurveyUpdate()"
                [disabled]="surveyUpdateForm.invalid">
          Änderungen Speichern
        </button>
      </div>
    </div>
  </div>
</div>
