<section id="name" class="d-flex flex-column">
  <div class="container restrictWidth">
    <div class="row my-4">
      <div class="col d-flex flex-column text-center">
        <span id="headingAnsweringSurvey">{{ survey.name }}</span>
      </div>
    </div>
    <hr>
  </div>
</section>

<section id="questionGroups" class="container restrictWidth" *ngIf="survey.questionGroups !== null">
  <form [formGroup]="answerForm">
    <div *ngFor="let questionGroup of survey.questionGroups; index as questionGroupIndex">
      <app-question-group [questionGroup]="questionGroup"
                          [questionGroupIndex]="questionGroupIndex"></app-question-group>
    </div>

    <div *ngIf="backendError === true">
      <div class="errorMessage alert alert-danger p-2 my-2 d-block">
        {{ backendErrorMessage }}
      </div>
    </div>

    <div>
      <button type="button" class="btn btn-success mb-3 float-end" [disabled]="questionGroupsFormArray.invalid"
              data-bs-toggle="modal" data-bs-target="#confirmAnswerSubmission">
        Einreichen
      </button>
    </div>

    <app-answers-submission (postAnswers)="postAnswersWithUser()"></app-answers-submission>
  </form>
</section>

<section id="errorMessage" class="container restrictWidth" *ngIf="survey.questionGroups === null">
  <div class="alert alert-danger p-2 mt-4">
    <span>Beim Laden der Fragen ist etwas schiefgelaufen. Vermutlich ist diese Umfrage zurzeit nicht freigegeben.</span>
  </div>
</section>
