<div [formGroup]="parentForm">
  <div formArrayName="questionGroupsFormArray">
    <div formArrayName="{{questionGroupIndex}}">
      <label [attr.for]="'question' + question.id" class="form-label row ms-2 mb-1">
        <span class="col-auto px-0 bolderText">{{ questionIndex + 1 }}.</span>
        <span class="col ps-1">
          {{ question.text }}<span *ngIf="question.required">*</span>
        </span>
      </label>

      <div formGroupName="{{ questionIndex }}">
        <div *ngFor="let checkbox of question.checkboxGroup?.checkboxes; index as checkboxIndex">
          <div class="row ms-2 mb-1">
            <div class="col-auto ps-1 pe-0">
              <input [attr.id]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-input me-2" formControlName="checkboxId"
                     [attr.name]="'question' + question.id"
                     type="radio" value="{{ checkboxIndex }}"
                     (click)="disableEnableInput(checkbox)">
            </div>
            <div class="col">
              <label [attr.for]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-labels">
                {{ checkbox.text }}<span *ngIf="checkbox.hasTextField">:</span>
              </label>
            </div>
          </div>
          <div class="row ms-5 me-3 mb-1" *ngIf="checkbox.hasTextField">
            <textarea [attr.id]="'checkbox' + checkbox.id + 'text'" class="form-control shortTextarea"
                      formControlName="text"
                      [attr.name]="'checkbox' + checkbox.id + 'Question' + question.id"></textarea>
          </div>
        </div>
        <div class="alert alert-danger p-2 my-2 ms-5 me-3" *ngIf="text?.invalid || checkboxId?.errors?.required">
          <div *ngIf="text?.invalid">
            <span
              *ngIf="text?.errors?.required || text?.errors?.stringIsEmpty">Das Textfeld muss ausgefüllt sein.</span>
            <span *ngIf="text?.errors?.maxlength">Ihre Antwort darf nicht länger als 1500 Zeichen sein.</span>
          </div>
          <div *ngIf="checkboxId?.errors?.required">
            Diese Frage muss beantwortet werden.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
