<form id="addCheckbox" class="mx-2 mx-sm-5" [formGroup]="optionForm" (ngSubmit)="addOptionToQuestion()"
      *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].rankingGroup">
  <div class="input-group mt-2 mb-1">
    <input id="addCheckboxTextInput" class="form-control" name="text" placeholder="Auswahlmöglichkeit"
           formControlName="text" required>
    <button type="submit" class="btn btn-primary" [disabled]="optionForm.invalid">
      <span class="d-none d-sm-inline">Hinzufügen</span>
      <span class="d-inline d-sm-none">+</span>
    </button>
  </div>

  <div *ngIf="text?.invalid && (text?.dirty || text?.touched)"
       class="alert alert-danger p-2 m-0">
    <div *ngIf="text?.errors?.required || text?.errors?.stringIsEmpty">
      Eine Option benötigt einen Text.
    </div>
    <div *ngIf="text?.errors?.maxlength">
      Der Text einer Option darf nicht länger als 255 Zeichen sein.
    </div>
  </div>
</form>
