<section id="editDeleteSurvey">

  <div id="editSurvey" class="container">
    <div class="row align-items-center">
      <span class="col-auto">
        Sie können Ihre Umfrage solange bearbeiten, bis jemand daran teilgenommen hat.<br>
        Der Zeitraum der Umfrage kann jederzeit verlängert werden.
      </span>
      <div class="col text-sm-end text-center mt-3 mt-sm-0 ps-2 ps-sm-0">
        <button class="btn btn-primary ">
          Bearbeiten
        </button>
      </div>

    </div>
  </div>

  <hr>

  <div id="deleteSurvey" class="container">
    <div class="row align-items-center">
      <span class="col-auto">
        <span class="bolderText">Achtung!</span> Wenn Sie Ihre Umfrage löschen, können Sie diese nicht wiederherstellen.
      </span>
      <div class="col text-sm-end text-center mt-3 mt-sm-0 ps-2 ps-sm-0">
        <button class="btn btn-danger">
          Löschen
        </button>
      </div>
    </div>
  </div>

  <hr>

</section>
