<div [formGroup]="parentForm">
  <div formArrayName="questionGroupsFormArray">
    <div formArrayName="{{questionGroupIndex}}">
      <label [attr.for]="'question' + question.id" class="form-label">
        #{{ questionIndex + 1 }}: {{ question.text }}
      </label>
      <span *ngIf="question.required">*</span>

      <div formGroupName="{{ questionIndex }}">
        <div *ngFor="let checkbox of question.checkboxGroup?.checkboxes; index as checkboxIndex">
          <div class="row align-items-center ms-2 mb-1">
            <div class="col-auto">
              <input [attr.id]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-input me-2" formControlName="checkboxId"
                     [attr.name]="'question' + question.id"
                     type="radio" value="{{ checkboxIndex }}"
                     (click)="disableEnableInput(checkbox)">
              <label [attr.for]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-label">
                {{ checkbox.text }}
              </label>
            </div>
            <input [attr.id]="'checkbox' + checkbox.id + 'text'"
                   *ngIf="checkbox.hasTextField" type="text" class="form-control col me-3"
                   formControlName="text"
                   [attr.name]="'checkbox' + checkbox.id + 'Question' + question.id">
          </div>
        </div>
        <div *ngIf="text?.invalid && (text?.dirty || text?.touched)"
             class="alert alert-danger p-2 mt-3 mb-0 mx-4">
          <div *ngIf="text?.errors?.required">
            Das Textfeld muss ausgefüllt sein.
          </div>
        </div>
        <div class="alert alert-danger p-2 mt-3 mb-0 mx-4" *ngIf="checkboxId?.errors?.required">
          Diese Frage muss beantwortet werden.
        </div>
      </div>
    </div>
  </div>
</div>
