<!-- Modal: Confirm deletion -->
<div class="modal fade" [attr.id]="'confirmDeletionGroup' + indexQuestionGroup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeletionLabel">Frageblock löschen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sind Sie sicher? Sie können den Frageblock nicht wiederherstellen.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
          Abbrechen
        </button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="deleteQuestionGroup(indexQuestionGroup)">
          Ja, löschen.
        </button>
      </div>
    </div>
  </div>
</div>
