<div *ngIf="survey.questionGroups![indexQuestionGroup].questions!.length === 0" id="noQuestions"
     class="row mt-3 mb-2 mx-3">
  <span class="alert alert-secondary">
      Zu diesem Frageblock wurden noch keine Fragen hinzugefügt.
  </span>
</div>
<div *ngIf="survey.questionGroups![indexQuestionGroup].questions!.length > 0" id="questionList">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Typ</th>
      <th class="questionColumn">Frage</th>
      <th class="text-center">*</th>
      <th class="text-center">Ä/L</th>
    </tr>
    </thead>
    <tbody>
    <tr class="questionTableRow"
        *ngFor="let question of survey.questionGroups![indexQuestionGroup].questions; index as indexQuestion">
      <td>{{indexQuestion + 1}}</td>

      <td *ngIf="question.hasCheckbox">Auswahl</td>
      <td *ngIf="!question.hasCheckbox">Freitext</td>

      <td class="questionColumn">
        <span class="bolderText">{{ question.text }}</span>

        <div *ngIf="question!.hasCheckbox">
          <div class="d-flex flex-row my-1">
            <div *ngIf="question.checkboxGroup!.multipleSelect"
                 class="d-flex justify-content-evenly w-100">
              <span>
                Mehrfachauswahl: Ja
              </span>
              <span>
                Min.: {{ question.checkboxGroup!.minSelect }}
              </span>
              <span>
                Max.: {{ question.checkboxGroup!.maxSelect }}
              </span>
            </div>
            <div *ngIf="!question.checkboxGroup!.multipleSelect"
                 class="d-flex justify-content-evenly w-100">
              <span>
                  Mehrfachauswahl: Nein
              </span>
            </div>
          </div>
        </div>

        <app-checkbox-list [survey]="survey"
                           [indexQuestionGroup]="indexQuestionGroup"
                           [indexQuestion]="indexQuestion"></app-checkbox-list>
        <app-checkbox-add [survey]="survey"
                          [indexQuestionGroup]="indexQuestionGroup"
                          [indexQuestion]="indexQuestion"></app-checkbox-add>
      </td>

      <td class="text-center">
        <span *ngIf="question.required">
          Ja
        </span>
        <span *ngIf="!question.required">
          Nein
        </span>
      </td>

      <td>
        <div id="updateDeleteButton" class="d-flex">
          <button class="btn btn-primary me-1 p-1 pt-0" type="button" title="Ändern" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#confirmUpdateQuestion' + indexQuestion + 'Group' + indexQuestionGroup">
            <img src="assets/svgs/wrench.svg" alt="Ändern">
          </button>
          <button class="btn btn-danger p-1 pt-0" type="button" title="Löschen" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#confirmDeletionQuestion' + indexQuestion + 'Group' + indexQuestionGroup">
            <img src="assets/svgs/x-lg.svg" alt="Löschen">
          </button>

          <app-question-update [survey]="survey"
                               [indexQuestionGroup]="indexQuestionGroup"
                               [indexQuestion]="indexQuestion"></app-question-update>
          <app-question-delete [survey]="survey"
                               [indexQuestionGroup]="indexQuestionGroup"
                               [indexQuestion]="indexQuestion"></app-question-delete>

        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
