<div *ngIf="survey.questionGroups![indexQuestionGroup].questions!.length == 0" id="noQuestions" class="row my-2">
  <span class="alert alert-secondary">
      Zu diesem Frageblock wurden noch keine Fragen hinzugefügt.
  </span>
</div>
<div *ngIf="survey.questionGroups![indexQuestionGroup].questions!.length > 0" id="questionList">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Typ</th>
      <th>Frage</th>
      <th class="text-center">*</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of survey.questionGroups![indexQuestionGroup].questions; index as indexQuestion">
      <td>{{indexQuestion + 1}}</td>

      <td *ngIf="question.hasCheckbox">Auswahl</td>
      <td *ngIf="!question.hasCheckbox">Freitext</td>

      <td>
        <span class="fw-bolder">{{ question.text }}</span>

        <div *ngIf="question!.hasCheckbox">
          <div class="d-flex flex-row my-1">
            <div *ngIf="question.checkboxGroup!.multipleSelect"
                 class="d-flex justify-content-evenly w-100">
              <span>
                Mehrfachauswahl: Ja
              </span>
              <span>
                Min.: {{ question.checkboxGroup!.minSelect }}
              </span>
              <span>
                Max.: {{ question.checkboxGroup!.maxSelect }}
              </span>
            </div>
            <div *ngIf="!question.checkboxGroup!.multipleSelect"
                 class="d-flex justify-content-evenly w-100">
              <span>
                  Mehrfachauswahl: Nein
              </span>
            </div>
          </div>
        </div>

        <checkbox-list [survey]="survey"
                       [indexQuestionGroup]="indexQuestionGroup"
                       [indexQuestion]="indexQuestion"></checkbox-list>
        <checkbox-form [survey]="survey"
                       [indexQuestionGroup]="indexQuestionGroup"
                       [indexQuestion]="indexQuestion"></checkbox-form>

      </td>

      <td *ngIf="question.required" class="text-center">Ja</td>
      <td *ngIf="!question.required" class="text-center">Nein</td>
    </tr>
    </tbody>
  </table>
</div>
