<div class="modal fade" id="helperModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmSubmissionLabel">Hilfe
          <span class="text-muted">({{ page }}/{{ helpPages.length }})</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="helperModalBody" class="modal-body">
        <div *ngFor="let helpPage of helpPages; index as index">
          <div [innerHTML]="helpPage" [style.display]="index > (page - 1) || index < (page - 1) ? 'none' : null"></div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="container row justify-content-center p-0 m-0">
          <div id="helperNavigationButtons" class="col-auto btn-group">
            <button type="button" class="btn btn-outline-primary" [disabled]="page === 1" (click)="goBack()">
              Zurück
            </button>
            <button type="button" class="btn btn-outline-primary float-end" [disabled]="page === helpPages.length"
                    (click)="goNext()">
              Weiter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
