<section id="surveyForm" class="container restrictWidth">
  <survey-basic-information-form *ngIf="!basicInfoGiven"
                                 [survey]="survey"
                                 (basicInfoBoolean)="setBasicInfoGiven($event)"></survey-basic-information-form>
  <add-questions *ngIf="basicInfoGiven"
                 [survey]="survey"
                 (basicInfoBoolean)="setBasicInfoGiven($event)"></add-questions>
  <survey-submission *ngIf="basicInfoGiven"
                     [survey]="survey"></survey-submission>
</section>

