<div [formGroup]="questionForm">
  <div class="row mb-3">
    <div class="col">
      <label for="question" class="form-label">Fragetext*</label>
      <textarea id="question" class="form-control shortTextarea" name="text" formControlName="text"
                required></textarea>
      <div *ngIf="text?.invalid && (text?.dirty || text?.touched)"
           class="alert alert-danger p-2 mt-1 mb-0">
        <div class="errorMessage" *ngIf="text?.errors?.required || text?.errors?.stringIsEmpty">
          Eine Frage benötigt einen Fragentext.
        </div>
        <div class="errorMessage" *ngIf="text?.errors?.maxlength">
          Der Fragentext darf nicht länger als 500 Zeichen sein.
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3 justify-content-evenly">
    <div class="col-sm-3">
      <label [attr.for]="'required' + indexQuestionGroup" class="form-check-label">
        Erforderlich?&nbsp;&nbsp;
      </label>
      <input [attr.id]="'required' + indexQuestionGroup"
             class="form-check-input float-sm-none float-start me-2 me-sm-0"
             name="required" value="true"
             type="checkbox" formControlName="required">
    </div>
  </div>
</div>
