<div class="container restrictWidth">
  <form [formGroup]="surveySubmissionForm">

    <div *ngIf="errorMessages.length !== 0">
      <div class="errorMessage alert alert-danger p-2 my-2 d-block" *ngFor="let errorMessage of errorMessages">
        {{ errorMessage }}
      </div>
    </div>

    <div class="row">
      <div>
        <button type="button" class="btn btn-success mt-2 mb-4 float-end"
                data-bs-toggle="modal" data-bs-target="#confirmSubmission">
          Speichern
        </button>
      </div>
    </div>

    <survey-submission-modal (postSurvey)="postSurveyWithUser()"></survey-submission-modal>
  </form>
</div>
