<header class="container min-vw-100">
  <div class="row justify-content-between align-items-center">
    <div class="col">
      <a routerLink="/" class="ms-1 text-decoration-none">
        <span id="headerHeading">
          Umfragetool
        </span>
      </a>
    </div>
    <div class="col text-end">
      <button class="btn mx-3 text-decoration-none loginLogout" (click)="login()" *ngIf="!loggedIn">
        Login
      </button>
      <button class="btn mx-3 ms-1 text-decoration-none loginLogout" (click)="logoff()" *ngIf="loggedIn">
        Logout
      </button>
    </div>
  </div>
</header>
