<section id="profile" class="container restrictWidth">
  <h2 class="mt-4">
    Mein Profil
  </h2>
  <div class="container fontSize18px">
    <div class="row mb-2">
      <div class="col">
        <span class="username bolderText">
          Benutzername:
        </span>
      </div>
      <div class="col">
        <span>
          {{ username }}
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <span class="username bolderText">
          E-Mail Adresse:
        </span>
      </div>
      <div class="col">
        <span>
          {{ email }}
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <span class="username bolderText">
          Vorname:
        </span>
      </div>
      <div class="col">
        <span>
          {{ firstName }}
        </span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <span class="username bolderText">
          Name:
        </span>
      </div>
      <div class="col">
        <span>
          {{ lastName }}
        </span>
      </div>
    </div>
  </div>
</section>
