<!-- Modal: Confirm Update -->
<div class="modal fade" [attr.id]="'confirmUpdateGroup' + indexQuestionGroup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmUpdateLabel">Frageblock ändern</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="updateForm" (ngSubmit)="updateQuestionGroup(indexQuestionGroup)">
        <div class="modal-body">
          <label [attr.for]="'group' + indexQuestionGroup" class="form-label">
            Name/Beschreibung/Frage/... :
          </label>
          <input [attr.id]="'group' + indexQuestionGroup" class="form-control" name="title" type="text"
                 formControlName="title" required>
          <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
               class="alert alert-danger p-2 m-0 mt-2">
            <div class="errorMessage" *ngIf="title?.errors?.required">
              Ein Frageblock benötigt einen Titel.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
            Abbrechen
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="updateForm.invalid">
            Ändern
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
