<div id="addQuestionToGroup" class="container p-0">
  <button class="btn btn-outline-primary mb-2 " type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#collapseQuestionform' + indexQuestionGroup" aria-expanded="false"
          [attr.aria-controls]="'#collapseQuestionform' + indexQuestionGroup">
    Frage hinzufügen
  </button>
  <div [attr.id]="'collapseQuestionform' + indexQuestionGroup" class="collapse mt-2">
    <div class="card card-body">
      <form id="addQuestion" class="container"
            #questionForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col">
            <label for="question" class="form-label">Frage*</label>
            <input id="question" class="form-control" name="text" type="text"
                   [(ngModel)]="question.text" #text="ngModel" required>
            <div *ngIf="text.invalid && (text.dirty || text.touched)"
                 class="alert alert-danger p-2 mt-1 mb-0">
              <div *ngIf="text.errors?.required">
                Eine Frage benötigt einen Fragentext.
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3 justify-content-evenly">
          <div class="col-3">
            <label [attr.for]="'required' + indexQuestionGroup" class="form-check-label">
              Erforderlich?&nbsp;&nbsp;
            </label>
            <input [attr.id]="'required' + indexQuestionGroup" class="form-check-input" name="required"
                   type="checkbox" [value]="1" [(ngModel)]="question.required" #required="ngModel">
          </div>
          <div class="col-4">
            <label [attr.for]="'checkboxes' + indexQuestionGroup" class="form-check-label">
              Antwortmöglichkeiten?&nbsp;&nbsp;
            </label>
            <input [attr.id]="'checkboxes' + indexQuestionGroup" class="form-check-input" name="questionType"
                   type="checkbox" [value]="1" [(ngModel)]="question.hasCheckbox"
                   data-bs-toggle="collapse" aria-expanded="false" #checkbox="ngModel"
                   [attr.data-bs-target]="'#checkboxGroupForm' + indexQuestionGroup"
                   [attr.aria-controls]="'#checkboxGroupForm' + indexQuestionGroup">
          </div>
        </div>
        <div class="mb-3">
          <div class="container collapse"
               [attr.id]="'checkboxGroupForm' + indexQuestionGroup">
            <div class="card card-body">
              <div class="container">
                <div class="row mb-3">
                  <div class="col">
                    <label [attr.for]="'multipleSelect' + indexQuestionGroup" class="form-check-label">
                      Mehrfachauswahl?&nbsp;&nbsp;
                    </label>
                    <input [attr.id]="'multipleSelect' + indexQuestionGroup" class="form-check-input"
                           name="multipleSelect" type="checkbox" value="1"
                           [(ngModel)]="checkboxGroup.multipleSelect" #multipleSelect="ngModel"
                           (change)="enableDisableMinMaxInput()">
                  </div>
                  <div class="col">
                    <label [attr.for]="'minSelect' + indexQuestionGroup"
                           class="form-label">
                      Minimum:
                    </label>
                    <input [attr.id]="'minSelect' + indexQuestionGroup" class="form-control" name="maxSelect"
                           type="number" min="0" [disabled]="!disableInput"
                           [(ngModel)]="checkboxGroup.minSelect" #minSelect="ngModel">
                    <div *ngIf="minSelect.invalid && (minSelect.dirty || minSelect.touched)"
                         class="alert alert-danger p-2 mt-1 mb-0">
                      <div *ngIf="minSelect.errors?.min">
                        Das Minimum muss mind. 0 sein.
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <label [attr.for]="'maxSelect' + indexQuestionGroup"
                           class="form-label">
                      Maximal:
                    </label>
                    <input [attr.id]="'maxSelect' + indexQuestionGroup" class="form-control" name="maxSelect"
                           type="number" min="2" [disabled]="disableInput"
                           [(ngModel)]="checkboxGroup.maxSelect" #maxSelect="ngModel">
                    <div *ngIf="maxSelect.invalid && (maxSelect.dirty || maxSelect.touched)"
                         class="alert alert-danger p-2 mt-1 mb-0">
                      <div *ngIf="maxSelect.errors?.min">
                        Das Maximum muss mind. 2 sein.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-end" [disabled]="questionForm.invalid"
                (click)="collapseMultipleSelectContainerWhenOpen(indexQuestionGroup)">
          Hinzufügen
        </button>
      </form>
    </div>
  </div>
</div>
