<div id="noCheckboxes" class="row"
     *ngIf="checkboxGroup">
  <div class="d-flex text-center justify-content-center"
       *ngIf="noOfCheckboxes === 0">
    <p class="alert alert-secondary m-0 w-75">
      Keine Antwortmöglichkeiten gegeben.
    </p>
  </div>
</div>

<div id="listOfCheckboxes" *ngIf="checkboxGroup">
  <ul class="list-group mb-1 mx-4 p-0 cursorMover draggableList" cdkDropList (cdkDropListDropped)="drop($event)"
      *ngIf="noOfCheckboxes > 0">
    <li class="list-group-item draggableListItem" cdkDrag
        *ngFor="let checkbox of checkboxes; index as indexCheckbox;">
      <span> {{ checkbox.text }} </span>
      <div class="float-end">
        <span *ngIf="checkbox.hasTextField" class="badge bg-secondary m-0 me-2">
            Textfeld
        </span>
        <app-checkbox-delete [survey]="survey"
                             [indexQuestionGroup]="indexQuestionGroup"
                             [indexQuestion]="indexQuestion"
                             [indexCheckbox]="indexCheckbox"></app-checkbox-delete>
      </div>
    </li>
  </ul>
</div>
