<div id="noCheckboxes" class="row"
     *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup">
  <div class="d-flex text-center justify-content-center"
       *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup!.checkboxes!.length == 0">
    <p class="alert alert-secondary m-0 w-75">
      Keine Auswahlmöglichkeiten gegeben.
    </p>
  </div>
</div>

<div id="listOfCheckboxes" *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup">
  <ul class="list-group mb-2 p-0 container"
      *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup!.checkboxes!.length > 0">
    <li class="list-group-item"
        *ngFor="let checkbox of survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup!.checkboxes">
      <span> {{ checkbox.text }} </span>
      <span *ngIf="checkbox.hasTextField" class="badge bg-secondary float-end mt-1">
          Textfeld
      </span>
    </li>
  </ul>
</div>
