<div id="noCheckboxes" class="row"
     *ngIf="checkboxGroup">
  <div class="d-flex text-center justify-content-center"
       *ngIf="noOfCheckboxes === 0">
    <p class="alert alert-secondary m-0 w-75">
      Keine Antwortmöglichkeiten gegeben.
    </p>
  </div>
</div>

<div id="listOfCheckboxes" *ngIf="checkboxGroup">
  <ul class="list-group mb-1 mx-4 p-0 cursorMover draggableList" cdkDropList (cdkDropListDropped)="drop($event)"
      *ngIf="noOfCheckboxes > 0">
    <li class="list-group-item draggableListItem" cdkDrag
        *ngFor="let checkbox of checkboxes; index as indexCheckbox;">
      <div class="container p-0">
        <div class="row justify-content-between">
          <div class="col">
            <span> {{ checkbox.text }} </span>
          </div>
          <div class="col text-end">
            <app-checkbox-delete [survey]="survey"
                                 [indexQuestionGroup]="indexQuestionGroup"
                                 [indexQuestion]="indexQuestion"
                                 [indexCheckbox]="indexCheckbox"></app-checkbox-delete>
          </div>
        </div>
        <div class="row text-muted" *ngIf="checkbox.hasTextField">
          <div>
            <span>
              <span class="fw-bold">Mit Textfeld</span> -
            </span>
            <span *ngIf="!checkbox.placeholder">Kein Platzhalter angegeben</span>
            <span *ngIf="checkbox.placeholder"> Platzhalter:<br>{{ checkbox.placeholder }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
