<div class="container restrictWidth">
  <div id="addedQuestion" class="container restrictWidth">
    <div id="noQuestionGroups" class="row">
        <span class="alert alert-secondary my-2" *ngIf="survey.questionGroups!.length == 0">
            Es wurde bisher kein Frageblock hinzugefügt.
        </span>
    </div>
    <div id="questionGroupListing" class="row card card-body mb-3"
         *ngFor="let questionGroup of survey.questionGroups; index as indexQuestionGroup">
      <div class="d-flex justify-content-between">
        <h3 class="d-inline">{{ questionGroup.title }}</h3>
        <div id="updateDeleteButton" class="d-inline">
          <button class="btn btn-primary me-1 pt-1" type="button" title="Ändern" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#confirmUpdateGroup' + indexQuestionGroup">
            <img src="assets/svgs/wrench.svg" alt="Ändern">
          </button>
          <button class="btn btn-danger pt-1" type="button" title="Löschen" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#confirmDeletionGroup' + indexQuestionGroup">
            <img src="assets/svgs/x-lg.svg" alt="Löschen">
          </button>
        </div>
      </div>

      <question-group-update [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></question-group-update>
      <question-group-delete [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></question-group-delete>

      <question-list [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></question-list>
      <question-add [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></question-add>

    </div>
  </div>
</div>

