<section id="introduction" class="container restrictWidth mt-4 mb-5">
  <h2 class="my-3">Willkommen beim Umfragetool!</h2>
  <p>
    Hier können Sie
    <span class="fw-bold">Umfragen erstellen</span>,
    <span class="fw-bold">an ihnen teilnehmen</span> und die
    <span class="fw-bold">Ergebnisse einsehen</span>.
    <br>
    Dabei bleibt es Ihnen überlassen, ob Sie die Umfrage öffentlich zugänglich machen wollen oder lieber eine Einladung
    zur Teilnahme per Link verschicken.
  </p>
</section>

<section id="buttons"
         class="d-flex flex-row justify-content-center align-items-center">
  <div class="me-3">
    <a routerLink="/createSurvey" class="text-decoration-none">
      <button type="button" class="btn btn-lg btn-outline-primary homeButton">
        Umfrage<br>
        erstellen
      </button>
    </a>
  </div>
  <div class="me-3">
    <a routerLink="/viewResults" class="text-decoration-none">
      <button type="button" class="btn btn-lg btn-outline-primary homeButton">
        Ergebnisse<br>
        einsehen
      </button>
    </a>
  </div>
  <div>
    <a routerLink="/surveys" class="text-decoration-none">
      <button type="button" class="btn btn-lg btn-outline-primary homeButton">
        Offene<br>
        Umfragen
      </button>
    </a>
  </div>
</section>
