<div class="dropdown mt-1 mt-sm-0 me-sm-3">
  <button id="profileDropdownMenu" class="btn btn-primary dropdown-toggle profileDropdownWidth text-start" type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    {{ username }}
  </button>
  <ul class="dropdown-menu profileDropdownWidth" aria-labelledby="profileDropdownMenu">
    <li><a class="dropdown-item" routerLink="/profile">Mein Profil</a></li>
    <li><a class="dropdown-item" routerLink="/profile/surveys">Meine Umfragen</a></li>
    <li class="dropdown-item cursorPointer" (click)="logout()">Logout</li>
  </ul>
</div>
