<div [formGroup]="parentForm">
  <div formArrayName="questionGroupsFormArray">
    <div formArrayName="{{questionGroupIndex}}">
      <label [attr.for]="'question' + question.id" class="form-label row ms-2 mb-1">
        <span class="col-auto px-0 bolderText">{{ questionIndex + 1 }}.</span>
        <span class="col ps-1">
          {{ question.text }}<span *ngIf="question.required">*</span>
        </span>
      </label>

      <div class="row ms-2 ms-sm-5 my-2 ps-2 bolderText">
        <div class="ps-1">
          <img src="assets/svgs/caret-up.svg" alt="High rating">
          {{ question.rankingGroup!.highestRated }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8" formArrayName="{{ questionIndex }}">
          <ul class="list-group mx-3 ms-sm-5 me-sm-0 p-0 draggableList" cdkDropList [cdkDropListDisabled]="disabled"
              [ngClass]="{'cursorMover': !disabled, 'disabledListItem': disabled}">
            <li class="list-group-item draggableListItem" cdkDrag [ngClass]="{'disabledListItem text-muted': disabled}"
                (cdkDragDropped)="drop($event)"
                *ngFor="let option of options; index as indexOption;">
              <div class="container p-0">
                <div class="row justify-content-between">
                  <div class="col">
                    <span> {{ option.text }} </span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div class="col align-self-end mb-1 d-none d-sm-inline">
          <button class="btn btn-outline-primary rankingEnableDisableButton" *ngIf="disabled"
                  (click)="enableDisableRankingGroup()">
            Entsperren
          </button>
          <button class="btn btn-primary rankingEnableDisableButton" *ngIf="!disabled"
                  (click)="enableDisableRankingGroup()">
            Bestätigen
          </button>
          <div class="d-inline success ms-3" *ngIf="confirmed!.value === true && disabled === true">
            <img src="../../../../../assets/svgs/check2-circle-green.svg" alt="Changes confirmed">
            <span>
            Bestätigt!
            </span>
          </div>
          <div class="d-inline text-muted ms-3" *ngIf="confirmed!.value === true && disabled === false">
            <img src="../../../../../assets/svgs/check2-circle-grey.svg" alt="Changes confirmed">
            <span>
            Bestätigt!
            </span>
          </div>
        </div>
      </div>

      <div class="row ms-2 ms-sm-5 mt-2 ps-2 bolderText">
        <div class="ps-1">
          <img src="assets/svgs/caret-down.svg" alt="Low rating">
          {{ question.rankingGroup!.lowestRated }}
        </div>
      </div>

      <div class="row d-sm-none justify-content-end m-0 p-0">
        <div class="col-auto mt-3">
          <div class="success" *ngIf="confirmed!.value === true && disabled === true">
            <img src="../../../../../assets/svgs/check2-circle-green.svg" alt="Changes confirmed">
            <span>
            Bestätigt!
            </span>
          </div>
          <div class="text-muted" *ngIf="confirmed!.value === true && disabled === false">
            <img src="../../../../../assets/svgs/check2-circle-grey.svg" alt="Changes confirmed">
            <span>
            Bestätigt!
            </span>
          </div>
        </div>
        <div class="col-auto mt-2 me-3">
          <button class="btn btn-outline-primary rankingEnableDisableButton" *ngIf="disabled"
                  (click)="enableDisableRankingGroup()">
            Entsperren
          </button>
          <button class="btn btn-primary rankingEnableDisableButton" *ngIf="!disabled"
                  (click)="enableDisableRankingGroup()">
            Bestätigen
          </button>
        </div>
      </div>

      <div class="row mt-3 ms-3 ms-sm-5 me-3" *ngIf="questionForm!.hasError('requiredButNotDone')">
        <div class="alert alert-danger mb-2">
          Diese Rankingfrage muss bearbeitet werden.
        </div>
      </div>
    </div>
  </div>
</div>
