<div class="container restrictWidth">
  <div id="addedQuestion" class="container restrictWidth">
    <div id="noQuestionGroups" class="row">
        <span class="alert alert-secondary my-2" *ngIf="survey.questionGroups!.length == 0">
            Es wurde bisher kein Frageblock hinzugefügt.
        </span>
    </div>
    <div id="questionGroupListing" class="row card card-body mb-3"
         *ngFor="let questionGroup of survey.questionGroups; index as indexQuestionGroup">
      <h4>{{ questionGroup.title }}</h4>

      <question-list [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></question-list>
      <question-form [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></question-form>

    </div>
  </div>
</div>
