<form id="addQuestionToGroup" [formGroup]="questionForm">
  <div class="mt-2 mx-2">
    <div class="card card-body innerCard">
      <app-base-question-form [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></app-base-question-form>
      <hr>
      <div class="mx-2"
           [attr.id]="'checkboxGroupForm' + indexQuestionGroup">
        <div formGroupName="checkboxGroup">
          <div class="row align-items-center">
            <div class="col-sm mb-2 mb-sm-0">
              <label [attr.for]="'multipleSelect' + indexQuestionGroup" class="form-check-label me-2 me-sm-2">
                Mehrfachauswahl?
              </label>
              <input [attr.id]="'multipleSelect' + indexQuestionGroup"
                     class="form-check-input float-end float-sm-none me-3"
                     name="multipleSelect" type="checkbox" value="true"
                     formControlName="multipleSelect"
                     (change)="enableDisableMinMaxInput()">
            </div>
            <div class="col-sm">
              <div
                class="container row p-0 m-0 align-items-center justify-content-between justify-content-sm-start mb-2 mb-sm-0">
                <label [attr.for]="'minSelect' + indexQuestionGroup" class="form-label col-auto ps-0 m-0 ms-1 ms-sm-0">
                  Minimum:
                </label>
                <input [attr.id]="'minSelect' + indexQuestionGroup"
                       class="form-control minMaxInputField text-end py-0"
                       name="minSelect" type="number" min="0" formControlName="minSelect">
              </div>
            </div>
            <div class="col-sm">
              <div class="container row p-0 m-0 align-items-center justify-content-between justify-content-sm-start">
                <label [attr.for]="'maxSelect' + indexQuestionGroup" class="form-label col-auto ps-0 m-0 ms-1 ms-sm-0">
                  Maximal:
                </label>
                <input [attr.id]="'maxSelect' + indexQuestionGroup" class="form-control minMaxInputField text-end py-0"
                       name="maxSelect" type="number" min="2" formControlName="maxSelect">
              </div>
            </div>
          </div>

          <div class="row mx-2">
            <div *ngIf="minSelect?.invalid && (minSelect?.dirty || minSelect?.touched)"
                 class="alert alert-danger p-2 mt-3 mb-0">
              <div *ngIf="minSelect?.errors?.required">
                Das Minimum muss angegeben werden.
              </div>
              <div *ngIf="minSelect?.errors?.min">
                Das Minimum muss mind. 0 sein.
              </div>
            </div>
            <div *ngIf="maxSelect?.invalid && (maxSelect?.dirty || maxSelect?.touched)"
                 class="alert alert-danger p-2 mt-3 mb-0">
              <div *ngIf="maxSelect?.errors?.required">
                Das Maximum muss angegeben werden.
              </div>
              <div *ngIf="maxSelect?.errors?.min">
                Das Maximum muss mind. 2 sein.
              </div>
            </div>
            <div class="alert alert-danger p-2 mt-3 mb-0"
                 *ngIf="questionForm.hasError('maxSelectLessThanMinSelect')">
              Das Maximum muss größer als / gleich dem Minimum sein.
            </div>
            <div class="alert alert-danger p-2 mt-3 mb-0"
                 *ngIf="questionForm.hasError('requiredButMinZeroCheckboxes')">
              Wenn die Frage als erforderlich gekennzeichnet ist, muss das Minimum bei mind. 1 liegen.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
