<div class="card card-body mb-3">
  <h3 class="card-title">
    {{ questionGroupIndex + 1 }}. {{ questionGroup.title }}
  </h3>

  <div *ngFor="let question of questionGroup.questions; index as questionIndex" class="mb-3">
    <app-text-question *ngIf="question.questionType === 'TEXT'"
                       [questionGroupIndex]="questionGroupIndex"
                       [question]="question"
                       [questionIndex]="questionIndex"></app-text-question>
    <app-single-select-question
      *ngIf="question.questionType === 'MULTIPLE_CHOICE' && !question.checkboxGroup!.multipleSelect"
      [questionGroupIndex]="questionGroupIndex"
      [question]="question"
      [questionIndex]="questionIndex"></app-single-select-question>
    <app-multiple-select-question
      *ngIf="question.questionType === 'MULTIPLE_CHOICE' && question.checkboxGroup!.multipleSelect"
      [questionGroupIndex]="questionGroupIndex"
      [question]="question"
      [questionIndex]="questionIndex"></app-multiple-select-question>
  </div>
</div>
