<form id="addCheckbox" class="mx-2 mx-sm-5" [formGroup]="checkboxForm" (ngSubmit)="addCheckboxToQuestion()"
      *ngIf="survey.questionGroups![indexQuestionGroup].questions![indexQuestion].checkboxGroup">
  <div class="input-group mt-2 mb-1">
    <div class="input-group-text">
      <div data-bs-toggle="collapse" aria-expanded="false"
           [attr.data-bs-target]="'#checkboxPlaceholder' + indexQuestionGroup + 'Question' + indexQuestion"
           [attr.aria-controls]="'#checkboxPlaceholder' + indexQuestionGroup + 'Question' + indexQuestion">
        <label [attr.for]="'hasTextField' + indexQuestion + 'group' + indexQuestionGroup">
          <!-- Add whitespace manually as the checkbox itself needs mt-0 to stay
               vertically centered => overwrites margin of label -->
          <span class="d-none d-sm-inline">Mit Textfeld:&nbsp;&nbsp;&nbsp;</span>
          <span class="d-inline d-sm-none"></span>
        </label>
        <input [attr.id]="'hasTextField' + indexQuestion + 'group' + indexQuestionGroup"
               class="form-check-input" name="text" type="checkbox"
               formControlName="hasTextField">
      </div>
    </div>
    <input id="addCheckboxTextInput" class="form-control" name="text" placeholder="Antwortmöglichkeit"
           formControlName="text" required>
    <button type="submit" class="btn btn-primary" [disabled]="checkboxForm.invalid">
      <span class="d-none d-sm-inline">Hinzufügen</span>
      <span class="d-inline d-sm-none">+</span>
    </button>
  </div>
  <div [attr.id]="'checkboxPlaceholder' + indexQuestionGroup + 'Question' + indexQuestion"
       class="collapse input-group mb-1">
    <div class="input-group-text">
      Platzhalter:
    </div>
    <input id="addCheckboxPlaceholderInput" class="form-control" name="placeholder" placeholder="Platzhalter - Textfeld"
           formControlName="placeholder">
  </div>
  <div *ngIf="text?.invalid && (text?.dirty || text?.touched)"
       class="alert alert-danger p-2 m-0">
    <div *ngIf="text?.errors?.required || text?.errors?.stringIsEmpty">
      Eine Checkbox benötigt einen Text.
    </div>
    <div *ngIf="text?.errors?.maxlength">
      Der Text einer Checkbox darf nicht länger als 255 Zeichen sein.
    </div>
  </div>
</form>
