<div [formGroup]="questionForm">
  <div class="row">
    <div class="col">
      <label [attr.for]="'questionText' + indexQuestionGroup" class="form-label">Fragetext: *</label>
      <textarea [attr.id]="'questionText' + indexQuestionGroup" class="form-control shortTextarea" name="text"
                formControlName="text" required placeholder="max. 500 Zeichen"></textarea>
      <div *ngIf="text?.invalid && (text?.dirty || text?.touched)"
           class="alert alert-danger p-2 mt-1 mb-0">
        <div class="errorMessage" *ngIf="text?.errors?.required || text?.errors?.stringIsEmpty">
          Eine Frage benötigt einen Fragentext.
        </div>
        <div class="errorMessage" *ngIf="text?.errors?.maxlength">
          Der Fragentext darf nicht länger als 500 Zeichen sein.
        </div>
      </div>
    </div>
    <div id="requiredQuestionField" class="col-sm-2 mt-3 mt-sm-0 justify-content-center">
      <label [attr.for]="'required' + indexQuestionGroup" class="form-check-label">
        Erforderlich?&nbsp;&nbsp;
      </label>
      <input [attr.id]="'required' + indexQuestionGroup" class="form-check-input ms-0 ms-sm-2 mt-sm-3 p-0 p-sm-2"
             name="required" value="true" type="checkbox" formControlName="required">
    </div>
  </div>
</div>
