<section id="thankYou" class="d-flex flex-column h-75">
  <div class="container restrictWidth">
    <div class="row my-4">
      <div class="col d-flex flex-column text-center mt-4">
        <h2>Vielen Dank für Ihre Teilnahme an dieser Umfrage!</h2>
      </div>
    </div>
  </div>
  <div class="container restrictWidth d-flex h-75 justify-content-center align-items-center">
    <a routerLink="">
      <button class="btn btn-outline-primary">
        Startseite
      </button>
    </a>
  </div>
</section>
