<hr class="my-2 mx-3">

<div class="row">

  <div class="ms-4 my-2">
    <span class="text-muted">Höchste Bewertung: </span>
    <br class="d-inline d-sm-none">
    <span>{{ rankingGroup!.highestRated }}</span>
  </div>
  <app-option-list [survey]="survey"
                   [indexQuestionGroup]="indexQuestionGroup"
                   [indexQuestion]="indexQuestion"></app-option-list>
  <div class="ms-4 mt-2">
    <span class="text-muted">Niedrigste Bewertung: </span>
    <br class="d-inline d-sm-none">
    <span>{{ rankingGroup!.lowestRated }}</span>
  </div>
  <app-option-add [survey]="survey"
                  [indexQuestionGroup]="indexQuestionGroup"
                  [indexQuestion]="indexQuestion"></app-option-add>
</div>
