<form id="addQuestionToGroup" [formGroup]="questionForm">
  <div class="mt-2 mx-2">
    <div class="card card-body innerCard">
      <app-base-question-form [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></app-base-question-form>
      <hr>
      <div [attr.id]="'rankingForm' + indexQuestionGroup" formGroupName="rankingGroup">
        <div class="row">
          <div class="col">
              <span>
                Textlabel für die Skala: *
              </span>
          </div>
        </div>
        <div class="row mx-0 mx-sm-1 mt-2">
          <div class="input-group px-1">
            <div class="input-group-prepend">
              <label [attr.for]="'highestRated' + indexQuestionGroup"
                     class="input-group-text inputGroupTextInCardCard ratingLabelFormLabel">
                <span class="d-none d-sm-inline">Höchste Bewertung:</span>
                <span class="d-inline d-sm-none">Max.:</span>
              </label>
            </div>
            <input [attr.id]="'highestRated' + indexQuestionGroup" type="text" class="form-control"
                   formControlName="highestRated" placeholder="z.B.: '10', 'sehr wichtig' oder 'interessant'">
          </div>
          <div class="px-1">
            <div *ngIf="highestRated?.invalid && (highestRated?.dirty || highestRated?.touched)"
                 class="alert alert-danger p-2 mt-2 mb-0">
              <div *ngIf="highestRated?.errors?.required">
                Das Label für die höchste Bewertung muss angegeben werden.
              </div>
              <div *ngIf="highestRated?.errors?.maxlength">
                Das Label darf nicht länger als 255 Zeichen sein.
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-0 mx-sm-1 mt-2">
          <div class="input-group px-1">
            <div class="input-group-prepend">
              <label [attr.for]="'lowestRated' + indexQuestionGroup"
                     class="input-group-text inputGroupTextInCardCard ratingLabelFormLabel">
                <span class="d-none d-sm-inline">Niedrigste Bewertung:</span>
                <span class="d-inline d-sm-none">Min.:</span>
              </label>
            </div>
            <input [attr.id]="'lowestRated' + indexQuestionGroup" type="text" class="form-control"
                   formControlName="lowestRated" placeholder="z.B.: '1', 'nicht wichtig' oder 'uninteressant'">
          </div>
          <div class="px-1">
            <div *ngIf="lowestRated?.invalid && (lowestRated?.dirty || lowestRated?.touched)"
                 class="alert alert-danger p-2 mt-2 mb-0">
              <div *ngIf="lowestRated?.errors?.required">
                Das Label für die niedrigste Bewertung muss angegeben werden.
              </div>
              <div *ngIf="lowestRated?.errors?.maxlength">
                Das Label darf nicht länger als 255 Zeichen sein.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
