<div class="text-end mx-2 mb-2">
  Sortieren nach:&nbsp;&nbsp;
  <span class="linkStyle cursorPointer" (click)="sortByStartDate()"
        [ngClass]="{'selectedLinkStyle': sortedByStartDate === true}">Startdatum</span>
  <span class="col-auto text-muted p-0">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
  <span class="linkStyle cursorPointer" (click)="sortByEndDate()"
        [ngClass]="{'selectedLinkStyle': sortedByStartDate === false}">Enddatum</span>
</div>
<div *ngIf="surveys">
  <div class="alert alert-danger p-2 mt-4" *ngIf="surveys.length === 0 && paginatorType === 'openAccess'">
    <span>Es gibt zurzeit leider keine öffentlich zugänglichen Umfragen.</span>
  </div>
  <div class="alert alert-danger p-2 mt-4" *ngIf="surveys.length === 0 && paginatorType === 'mySurveys'">
    <span>Sie haben bisher keine Umfrage erstellt.</span>
  </div>
  <div *ngIf="surveys.length > 0">
    <div class="card card-body mb-3"
         *ngFor="let survey of surveys | slice: (page - 1) * pageSize : page * pageSize">
      <h4 class="blueText">{{ survey.name }}</h4>
      <div class="container">
        <div class="row my-1 fontSize18px" *ngIf="paginatorType === 'openAccess'">
          <div class="col-sm-3">
            <span class="bolderText">Erstellt von:</span>
          </div>
          <div class="col-sm-auto">
            <span class="ms-2 ms-sm-0">{{ survey?.userName }}</span>
          </div>
        </div>
        <div class="row my-1 fontSize18px">
          <div class="col-sm-3">
            <span class="bolderText">Zeitraum:</span>
          </div>
          <div class="col-sm-auto" [ngClass]="{'currentDateNotInRange': currentDateInRange(survey)}">
              <span
                class="ms-2 ms-sm-0">{{ survey?.startDate | date: 'dd.MM.yyyy' }}  {{ survey?.startDate | date: 'HH:mm' }}
                Uhr
                &nbsp;&nbsp;-&nbsp;<br class="d-inline d-sm-none">&nbsp;
                {{ survey?.endDate | date: 'dd.MM.yyyy' }}  {{ survey?.endDate | date: 'HH:mm' }} Uhr</span>
          </div>

          <div class="col-sm mt-2 mt-sm-0" *ngIf="paginatorType === 'mySurveys'">
            <a [routerLink]="['/surveys', survey?.accessId]">
              <button class="btn btn-outline-primary float-end">
                Weiter
              </button>
            </a>
          </div>
          <div class="col-sm mt-2 mt-sm-0" *ngIf="paginatorType === 'openAccess'">
            <a [routerLink]="['participate', survey?.participationId]">
              <button class="btn btn-outline-primary float-end">
                Weiter
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center mb-3"
                    [collectionSize]="surveys.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                    [rotate]="true" [ellipses]="true" [boundaryLinks]="false"></ngb-pagination>
  </div>
</div>
