<section id="questionGroups" class="container restrictWidth">
  <div class="card card-body mb-3" *ngFor="let questionGroup of survey.questionGroups; index as questionGroupIndex">
    <h3 class="card-title">
      {{ questionGroup.title }}
    </h3>
    <div *ngFor="let question of questionGroup.questions; index as questionIndex" class="mb-3">
      <label [attr.for]="'question' + questionIndex + 'Group' + questionGroupIndex" class="form-label">
        #{{ questionIndex + 1 }}: {{ question.text }}
      </label>
      <span *ngIf="question.required">*</span>
      <div *ngIf="!question.hasCheckbox">
        <textarea [attr.id]="'question' + questionIndex + 'Group' + questionGroupIndex" class="form-control"></textarea>
      </div>
      <div *ngIf="question.hasCheckbox">
        <div class="form-check" *ngIf="question.checkboxGroup?.multipleSelect">
          <div *ngFor="let checkbox of question.checkboxGroup?.checkboxes; index as checkboxIndex">
            <input [attr.id]="'checkbox' + checkboxIndex + 'Question' + questionIndex + 'Group' + questionGroupIndex"
                   class="form-check-input"
                   type="checkbox" value="checkbox.text">
            <label [attr.for]="'checkbox' + checkboxIndex + 'Question' + questionIndex + 'Group' + questionGroupIndex"
                   class="form-check-label">
              {{ checkbox.text }}
            </label>
          </div>
        </div>
        <div class="form-check" *ngIf="!question.checkboxGroup?.multipleSelect">
          <div *ngFor="let checkbox of question.checkboxGroup?.checkboxes; index as checkboxIndex">
            <input [attr.id]="'checkbox' + checkboxIndex + 'Question' + questionIndex + 'Group' + questionGroupIndex"
                   class="form-check-input" [attr.name]="'question' + questionIndex + 'Group' + questionGroupIndex"
                   type="radio" value="checkbox.text">
            <label [attr.for]="'checkbox' + checkboxIndex + 'Question' + questionIndex + 'Group' + questionGroupIndex"
                   class="form-check-label">
              {{ checkbox.text }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--TODO: Add required attribute if questions is required-->
  <!--TODO: min-/max-choices on multiple select questions-->
  <!--TODO: add text fields to checkboxes if required-->
  <!--TODO: Create answers for each question-->
</section>
