<section id="information" class="d-flex flex-column">
  <div class="container restrictWidth basicInformation">
    <div class="row mt-3">
      <div class="container">
        <button class="btn btn-outline-primary" (click)="sendBasicInfoFalse()">
          Zurück
        </button>
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <div class="col d-flex flex-column">
        <span>Name der Umfrage:</span>
        <span class="surveyInfo">{{ survey.name }}</span>
      </div>
      <div class="col d-flex flex-column">
        <span>Startdatum:</span>
        <span class="surveyInfo">{{ survey.startDate | date: 'dd.MM.yyyy' }}</span>
        <span class="surveyInfo">{{ survey.startDate | date: 'HH:mm' }}</span>
      </div>
      <div class="col d-flex flex-column">
        <span>Enddatum:</span>
        <span class="surveyInfo">{{ survey.endDate | date: 'dd.MM.yyyy' }}</span>
        <span class="surveyInfo">{{ survey.endDate | date: 'HH:mm' }}</span>
      </div>
    </div>
    <hr>
  </div>
</section>

<section id="questions">
  <question-group-form [survey]="survey"></question-group-form>
  <question-group-list [survey]="survey"></question-group-list>
</section>
