<div class="input-group mb-3 px-2">
  <select class="form-select" [(ngModel)]="selectedQuestionType">
    <option disabled selected hidden>Fragetyp auswählen...</option>
    <option [ngValue]="''">---</option>
    <option [ngValue]="'TEXT'">Freitext</option>
    <option [ngValue]="'MULTIPLE_CHOICE'">Auswahl (Multiple Choice)</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="addNewQuestion()"
            [disabled]="text?.errors || selectedQuestionType === '' ||
            (selectedQuestionType === 'MULTIPLE_CHOICE' && checkIfCheckboxGroupFormValid())">
      <span class="d-none d-sm-inline">Frage hinzufügen</span>
      <span class="d-inline d-sm-none">+</span>
    </button>
  </div>
</div>

<div [formGroup]="questionForm">
  <app-text-question-form *ngIf="selectedQuestionType === 'TEXT'"
                          [survey]="survey" [indexQuestionGroup]="indexQuestionGroup"></app-text-question-form>
  <app-multiple-choice-question-form *ngIf="selectedQuestionType === 'MULTIPLE_CHOICE'"
                                     [survey]="survey"
                                     [indexQuestionGroup]="indexQuestionGroup"></app-multiple-choice-question-form>
</div>
