/* You can add global styles to this file, and also import other style files */
.restrictWidth {
  max-width: 820px;
}

/* Enter basic information of survey: */
.labelInput {
  font-size: 18px;
}

/* Preview basic information when adding questions: */
.basicInformation {
  font-size: 20px;
}

.surveyInfo {
  color: #2A52CC;
}

.errorMessage {
  white-space: pre-wrap;
}

#accessID {
  font-size: 30px;
}
