html {
  /* So that the grid container of the body fills up entire browser */
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
}

#contentWrapper {
  min-height: 100vh;
  /* Divides body (header, main, footer) into a grid (Gitter): */
  display: grid;
  /* 4 rows:
  1. As big as the header is
  2. 0 Space for router-outlet
  3. All remaining space for content
  4. As big as the footer is */
  grid-template-rows: [header] auto [router-outlet] 0 [body] 1fr [footer] auto;
  /* Each row takes up the whole browser horizontally */
  grid-template-columns: 100%;

  /* Content uses whole browser screen size */
  padding: 0;
  margin: 0;
}

.restrictWidth {
  max-width: 820px !important;
}

/* Styling for header: */
@media (min-width: 576px) {
  header {
    height: 60px;
    background: #005477;
  }
}

@media (max-width: 576px) {
  header {
    height: 120px;
    background: #005477;
  }
}


#headerHeading {
  color: #FFFFFF;
  font-size: 38px;
}

/* Styling for footer */
footer {
  height: 30px;
  border-top: 1px solid #BCBCBC;
  background: #EBEEF2;
}

/* Enter basic information of survey */
.labelInput {
  font-size: 18px;
}

/* Preview basic information when adding questions */
.fontSize20px {
  font-size: 20px;
}

.fontSize18px {
  font-size: 18px;
}

.bolderText {
  font-weight: 500;
}

.lighterText {
  font-weight: 350;
}

.blueText {
  color: #0079AD;
}

/* Question table */
.questionColumn {
  width: 80%;
}

/* Buttons */
.updateDeleteButtonGroup {
  min-width: 56px;
}

.smallDeleteBtn {
  height: 15px;
}

.participateButton {
  font-size: 20px;
}

.scrollToTopButton {
  font-size: 12px;
}

.homeButton {
  width: 150px;
}

.collapseArrow {
  height: 40px;
}

.cursorPointer {
  cursor: pointer;
}

.surveyNavigationButton {
  text-decoration: none;
  font-size: 20px;
}

.moveQuestionGroup {
  height: 25px;
}

.pageNumberSelection {
  max-width: 70px !important;
}

.clipboardButton {
  height: 20px;
}

.viewTextAnswers {
  height: 20px;
}

@media (min-width: 1024px) {
  .helpButton {
    position: fixed;
    bottom: 10%;
    right: 3.5%;
  }
}

@media (max-width: 1024px) {
  .helpButton {
    float: right;
    margin-top: -5px;
  }
}

.questionMark {
  height: 40px;
  width: 30px;
}

.helperNavButtons {
  width: 120px !important;
}

.profileDropdownWidth {
  min-width: 220px;
}

@media (min-width: 600px) {
  .editSurveyButtonRow {
    max-width: 600px;
  }
}

/* CDK Drag & Drop */
.cursorMover {
  cursor: move;
}

.cdk-drag-preview {
  border-radius: 4px !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 75%;
}

/* Animate letting go of dragged item */
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate dragging of item over list */
.draggableList.cdk-drop-list-dragging .draggableListItem:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#questionGroupListItem.cdk-drag-placeholder {
  border-radius: 0.25rem;
}

/* Other */
.linkStyle {
  color: #2A52CC;
}

.linkStyle:hover {
  color: #2446AD;
  text-decoration: underline;
}

.errorMessage {
  white-space: pre-wrap;
}

#headingAnsweringSurvey {
  font-size: 35px;
  font-weight: 500;
}

.pie-label {
  font-size: 14px !important;
}

.currentDateNotInRange {
  color: firebrick;
}

.textArea {
  height: 200px;
}

.shortTextarea {
  height: 38px;
}

.selectedLinkStyle {
  color: #2446AD;
  text-decoration: underline;
}

.tableOfContents {
  display: table !important;
  max-width: 66% !important;
}

@media (min-width: 576px) {
  #addCheckboxTextInput {
    min-width: 170px;
  }
}

.innerCard {
  background-color: #E8E8E8 !important;
}

.innerInnerCard {
  background-color: #D6D6D6 !important;
}

.minMaxInputField {
  width: 50px !important;
}

#helperModalBody {
  min-height: 250px;
}

.loginLogout {
  color: #FFFFFF;
  font-size: 20px;
}

#myProfileCard {
  width: 550px;
}

@media (min-width: 576px) {
  #requiredQuestionField {
    border-left: #BCBCBC 1px solid;
  }
}

.inputGroupTextInCardCard {
  background-color: #F9F9F9 !important;
}

@media (min-width: 576px) {
  .ratingLabelFormLabel {
    width: 183px;
  }
}

@media (max-width: 575px) {
  .ratingLabelFormLabel {
    width: 63px;
  }
}

/* Override Bootstrap CSS */
.list-group {
  border: 0.08em solid #DFDFDF;
}

.list-group-item {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.list-group-item:last-child {
  border: none;
}

.card {
  background-color: #F9F9F9;
}

.btn-outline-primary {
  background-color: #FFFFFF;
}

.modal-header {
  background-color: #F1F1F1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dropdown-toggle::after {
  float: right !important;
  margin-top: 10px;
}

/* Hide number input arrows: */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
