<section id="information" class="d-flex flex-column">
  <div class="container restrictWidth basicInformation">
    <div class="row my-4">
      <div class="col d-flex flex-column">
        <span>Name der Umfrage:</span>
        <span class="surveyInfo">{{ survey.name }}</span>
      </div>
      <div class="col d-flex flex-column">
        <span>Startdatum:</span>
        <span class="surveyInfo">{{ survey.startDate | date: 'dd.MM.yyyy' }}</span>
        <span class="surveyInfo">{{ survey.startDate | date: 'HH:mm' }}</span>
      </div>
      <div class="col d-flex flex-column">
        <span>Enddatum:</span>
        <span class="surveyInfo">{{ survey.endDate | date: 'dd.MM.yyyy' }}</span>
        <span class="surveyInfo">{{ survey.endDate | date: 'HH:mm' }}</span>
      </div>
    </div>
    <hr>
  </div>
</section>

<section id="questions">
  <question-group-form (questionGroupEventEmitter)="addQuestionGroup($event)"></question-group-form>
  <question-group-list [survey]="survey"></question-group-list>
</section>

<section id="submission">
  <survey-submission [survey]="survey"></survey-submission>
</section>
