<div [formGroup]="parentForm">
  <div formArrayName="questionGroupsFormArray">
    <div formArrayName="{{questionGroupIndex}}">
      <label [attr.for]="'question' + question.id" class="form-label mb-1">
        #{{ questionIndex + 1 }}: {{ question.text }}
      </label>
      <span *ngIf="question.required">*</span>
      <br>
      <p class="text-muted mb-2 mt-0 mx-4">
        <span *ngIf="minSelect < maxSelect && minSelect !== 0">
          Wählen Sie bitte zwischen {{ minSelect }} und {{ maxSelect }} Antwortmöglichkeiten aus.
        </span>
        <span *ngIf="minSelect === maxSelect">
          Wählen Sie bitte {{ minSelect }} Antwortmöglichkeiten aus.
        </span>
        <span *ngIf="minSelect === 0">
          Wählen Sie bitte bis zu {{ maxSelect }} Antwortmöglichkeiten aus.
        </span>
      </p>

      <div formArrayName="{{ questionIndex }}">
        <div *ngFor="let checkbox of question.checkboxGroup?.checkboxes; index as checkboxIndex">
          <div class="row align-items-center ms-2 mb-1" formGroupName="{{ checkboxIndex }}">
            <div class="col-auto">
              <input [attr.id]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-input me-2" formControlName="checked"
                     type="checkbox" value="true"
                     (click)="enableDisableTextFieldIfAvailable(checkbox, checkboxIndex)">
              <label [attr.for]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-label">
                {{ checkbox.text }}
              </label>
            </div>
            <input *ngIf="checkbox.hasTextField" type="text" class="form-control col me-5"
                   formControlName="text"
                   [attr.name]="'checkbox' + checkbox.id + 'Question' + question.id">
          </div>
          <div *ngIf="getTextFieldByCheckboxIndex(checkboxIndex)?.invalid" class="alert alert-danger p-2 my-2 mx-4">
            <span *ngIf="getTextFieldByCheckboxIndex(checkboxIndex)?.errors?.required">Das Textfeld muss ausgefüllt sein.</span>
            <span *ngIf="getTextFieldByCheckboxIndex(checkboxIndex)?.errors?.maxlength">Ihre Antwort darf nicht länger als 1500 Zeichen sein.</span>
          </div>
        </div>
        <div class="alert alert-danger p-2 my-3 mx-4"
             *ngIf="checkboxArray?.hasError('noOfCheckedBoxesNotInRange') && question.required">
          <span *ngIf="minSelect < maxSelect && minSelect !== 0">
            Sie müssen zwischen {{ minSelect }} und {{ maxSelect }} Antwortmöglichkeiten auswählen.
          </span>
          <span *ngIf="minSelect === maxSelect">
            Sie müssen genau {{ minSelect }} Antwortmöglichkeiten auswählen.
          </span>
        </div>
        <div class="alert alert-danger p-2 my-3 mx-4"
             *ngIf="checkboxArray?.hasError('noOfCheckedBoxesNotInRange') && !question.required">
          <span *ngIf="minSelect < maxSelect && minSelect !== 0">
            Sie können nur zwischen {{ minSelect }} und {{ maxSelect }} Antwortmöglichkeiten auswählen.
          </span>
          <span *ngIf="minSelect === maxSelect">
            Sie können nur genau {{ minSelect }} Antwortmöglichkeiten auswählen.
          </span>
          <span *ngIf="minSelect === 0">
            Sie können nur bis zu {{ maxSelect }} Antwortmöglichkeiten auswählen.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
