<div [formGroup]="parentForm">
  <div formArrayName="questionGroupsFormArray">
    <div formArrayName="{{questionGroupIndex}}">
      <label [attr.for]="'question' + question.id" class="form-label row ms-2 mb-1">
        <span class="col-auto px-0 bolderText">{{ questionIndex + 1 }}.</span>
        <span class="col ps-1">
          {{ question.text }}<span *ngIf="question.required">*</span>
        </span>
      </label>
      <p class="text-muted mb-2 mt-0 mx-4">
        <span *ngIf="minSelect < maxSelect && minSelect !== 0">
          Wählen Sie bitte zwischen {{ minSelect }} und {{ maxSelect }} Antwortmöglichkeiten aus.
        </span>
        <span *ngIf="minSelect === maxSelect">
          Wählen Sie bitte {{ minSelect }} Antwortmöglichkeiten aus.
        </span>
        <span *ngIf="minSelect === 0">
          Wählen Sie bitte bis zu {{ maxSelect }} Antwortmöglichkeiten aus.
        </span>
      </p>

      <div formArrayName="{{ questionIndex }}">
        <div *ngFor="let checkbox of question.checkboxGroup?.checkboxes; index as checkboxIndex"
             formGroupName="{{ checkboxIndex }}">
          <div class="row ms-2 mb-1">
            <div class="col-auto ps-1 pe-0">
              <input [attr.id]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-input me-2" formControlName="checked"
                     type="checkbox" value="true"
                     (click)="enableDisableTextFieldIfAvailable(checkbox, checkboxIndex)">
            </div>
            <div class="col">
              <label [attr.for]="'checkbox' + checkbox.id + 'Question' + question.id"
                     class="form-check-label">
                {{ checkbox.text }}<span *ngIf="checkbox.hasTextField">:</span>
              </label>
            </div>
          </div>
          <div class="row ms-5 me-3 mb-1" *ngIf="checkbox.hasTextField">
            <textarea class="form-control shortTextarea" formControlName="text"
                      [attr.placeholder]="checkbox.placeholder ? checkbox.placeholder : 'max. 1500 Zeichen'"
                      [attr.name]="'checkbox' + checkbox.id + 'Question' + question.id"></textarea>
          </div>
          <div *ngIf="getTextFieldByCheckboxIndex(checkboxIndex)?.invalid"
               class="alert alert-danger p-2 my-2 ms-5 me-3">
            <span
              *ngIf="getTextFieldByCheckboxIndex(checkboxIndex)?.errors?.required || getTextFieldByCheckboxIndex(checkboxIndex)?.errors?.stringIsEmpty">Das Textfeld muss ausgefüllt sein.</span>
            <span *ngIf="getTextFieldByCheckboxIndex(checkboxIndex)?.errors?.maxlength">Ihre Antwort darf nicht länger als 1500 Zeichen sein.</span>
          </div>
        </div>
        <div class="alert alert-danger p-2 my-2 mx-3 ms-sm-5"
             *ngIf="checkboxArray?.hasError('noOfCheckedBoxesNotInRange') && question.required">
          <span *ngIf="minSelect < maxSelect && minSelect !== 0">
            Sie müssen zwischen {{ minSelect }} und {{ maxSelect }} Antwortmöglichkeiten auswählen.
          </span>
          <span *ngIf="minSelect === maxSelect">
            Sie müssen genau {{ minSelect }} Antwortmöglichkeiten auswählen.
          </span>
        </div>
        <div class="alert alert-danger p-2 my-2 mx-3 ms-sm-5"
             *ngIf="checkboxArray?.hasError('noOfCheckedBoxesNotInRange') && !question.required">
          <span *ngIf="minSelect < maxSelect && minSelect !== 0">
            Sie können nur zwischen {{ minSelect }} und {{ maxSelect }} Antwortmöglichkeiten auswählen.
          </span>
          <span *ngIf="minSelect === maxSelect">
            Sie können nur genau {{ minSelect }} Antwortmöglichkeiten auswählen.
          </span>
          <span *ngIf="minSelect === 0">
            Sie können nur bis zu {{ maxSelect }} Antwortmöglichkeiten auswählen.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
