<!-- Modal: Confirm Update -->
<div class="modal fade" [attr.id]="'confirmUpdateQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
     tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmUpdateLabel">Frage ändern</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="updateForm"
            (ngSubmit)="updateQuestion(indexQuestion)">
        <app-base-question-update-form [survey]="survey"
                                       [indexQuestionGroup]="indexQuestionGroup"
                                       [indexQuestion]="indexQuestion"></app-base-question-update-form>
        <app-multiple-choice-question-update-form
          *ngIf="survey.questionGroups[indexQuestionGroup].questions[indexQuestion].questionType === 'MULTIPLE_CHOICE'"
          [survey]="survey"
          [indexQuestionGroup]="indexQuestionGroup"
          [indexQuestion]="indexQuestion"></app-multiple-choice-question-update-form>
        <app-ranking-question-update-form
          *ngIf="survey.questionGroups[indexQuestionGroup].questions[indexQuestion].questionType === 'RANKING'"
          [survey]="survey"
          [indexQuestionGroup]="indexQuestionGroup"
          [indexQuestion]="indexQuestion"></app-ranking-question-update-form>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="updateForm.invalid">
            Änderungen Speichern
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
