<!-- Modal: Confirm Update -->
<div class="modal fade" [attr.id]="'confirmUpdateQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
     tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmUpdateLabel">Frage ändern</h5>
      </div>
      <form [formGroup]="updateForm"
            (ngSubmit)="updateQuestion(indexQuestion)">
        <div class="modal-body">
          <label [attr.for]="'groupQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                 class="form-label">
            Fragentext:
          </label>
          <input [attr.id]="'groupQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                 class="form-control" name="title" type="text"
                 formControlName="text" required>
          <div *ngIf="text?.invalid && (text?.dirty || text?.touched)"
               class="alert alert-danger p-2 mt-1 mb-?0">
            <div class="errorMessage" *ngIf="text?.errors?.required">
              Eine Frage benötigt einen Fragentext.
            </div>
          </div>
          <div class="mt-3 ms-2">
            <label [attr.for]="'requiredQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                   class="form-check-label">
              Erforderlich?&nbsp;&nbsp;
            </label>
            <input [attr.id]="'requiredQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                   class="form-check-input" name="required"
                   type="checkbox" formControlName="required">
          </div>
        </div>
        <div *ngIf="survey.questionGroups[indexQuestionGroup].questions[indexQuestion].hasCheckbox">
          <hr>
          <div class="container">
            <div class="row mb-2" formGroupName="checkboxGroup">
              <div class="col">
                <label [attr.for]="'multipleSelectQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                       class="form-check-label">
                  Mehrfachauswahl?&nbsp;&nbsp;
                </label>
                <input [attr.id]="'multipleSelectQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                       class="form-check-input" name="multipleSelect" type="checkbox"
                       formControlName="multipleSelect"
                       (change)="enableDisableMinMaxInput()">
              </div>
              <div class="col">
                <label [attr.for]="'minSelectQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                       class="form-label">
                  Minimum:
                </label>
                <input [attr.id]="'minSelectQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                       class="form-control" name="minSelect" type="number" min="0"
                       formControlName="minSelect">
                <div *ngIf="minSelect?.invalid && (minSelect?.dirty || minSelect?.touched)"
                     class="alert alert-danger p-2 mt-1 mb-0">
                  <div *ngIf="minSelect?.errors?.required">
                    Das Minimum muss angegeben werden.
                  </div>
                  <div *ngIf="minSelect?.errors?.min">
                    Das Minimum muss mind. 0 sein.
                  </div>
                </div>
              </div>
              <div class="col">
                <label [attr.for]="'maxSelectQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                       class="form-label">
                  Maximal:
                </label>
                <input [attr.id]="'maxSelectQuestion' + indexQuestion + 'Group' + indexQuestionGroup"
                       class="form-control" name="maxSelect" type="number" min="2"
                       formControlName="maxSelect">
                <div *ngIf="maxSelect?.invalid && (maxSelect?.dirty || maxSelect?.touched)"
                     class="alert alert-danger p-2 mt-1 mb-0">
                  <div *ngIf="maxSelect?.errors?.required">
                    Das Maximum muss angegeben werden.
                  </div>
                  <div *ngIf="maxSelect?.errors?.min">
                    Das Maximum muss mind. 2 sein.
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-0">
              <div class="alert alert-danger p-2 mt-0 mb-2"
                   *ngIf="updateForm.hasError('maxSelectLessThanMinSelect')">
                Das Maximum muss größer als / gleich dem Minimum sein.
              </div>
              <div class="alert alert-danger p-2 mt-1 mb-0"
                   *ngIf="updateForm.hasError('requiredButMinZeroCheckboxes')">
                Wenn die Frage als erforderlich gekennzeichnet ist, muss das Minimum bei mind. 1 liegen.
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="updateForm.invalid">
            Änderungen Speichern
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
