<div class="container restrictWidth">
  <form [formGroup]="surveyUpdateForm">

    <div *ngIf="errorMessages.length !== 0">
      <div class="errorMessage alert alert-danger p-2 my-2 mx-1 d-block" *ngFor="let errorMessage of errorMessages">
        <span class="d-block">{{ errorMessage }}</span>
      </div>
    </div>

    <div class="row">
      <div>
        <button type="button" class="btn btn-success mt-2 mb-4 float-end"
                data-bs-toggle="modal" data-bs-target="#confirmSubmission">
          Änderungen Speichern
        </button>
      </div>
    </div>

    <app-survey-submission-modal (postSurvey)="checkIfChangesValid()" [loggedIn]="true"></app-survey-submission-modal>
  </form>
</div>
