<div id="addQuestions" class="container restrictWidth">
  <h3>Fügen Sie Ihrer Umfrage einen Frageblock hinzu:</h3>
  <form id="addQuestionGroup"
        #questionGroupForm="ngForm">
    <div class="input-group mt-3 mb-2">
      <input class="form-control" name="title" type="text" placeholder="Name/Beschreibung/Frage/..."
             aria-label="Description QuestionGroup" aria-describedby="submitQuestionGroup"
             [(ngModel)]="questionGroup.title" #title="ngModel" required>
      <button id="submitQuestionGroup" class="btn btn-primary" (click)="emitQuestionGroup(questionGroup)"
              type="submit" [disabled]="questionGroupForm.invalid">
        Hinzufügen
      </button>
    </div>
    <div *ngIf="title.invalid && (title.dirty || title.touched)"
         class="alert alert-danger p-2 m-0">
      <div *ngIf="title.errors?.required">
        Ein Frageblock benötigt einen Titel.
      </div>
    </div>
  </form>
  <hr>
</div>
