<div [formGroup]="parentForm">
  <div formArrayName="questionGroupsFormArray">
    <div formArrayName="{{questionGroupIndex}}">
      <label [attr.for]="'question' + question.id" class="form-label">
        #{{ questionIndex + 1 }}: {{ question.text }}
      </label>
      <span *ngIf="question.required">*</span>

      <textarea [attr.id]="'question' + question.id" class="form-control"
                formControlName="{{ questionIndex }}"></textarea>

      <div class="alert alert-danger p-2 mt-3 mb-0 mx-4" *ngIf="text?.errors?.required">
        Diese Frage muss beantwortet werden.
      </div>
    </div>
  </div>
</div>
