<div [formGroup]="parentForm">
  <div formArrayName="questionGroupsFormArray">
    <div formArrayName="{{questionGroupIndex}}">
      <label [attr.for]="'question' + question.id" class="form-label row ms-2">
        <span class="col-auto px-0 bolderText">{{ questionIndex + 1 }}.</span>
        <span class="col ps-1">
          {{ question.text }}<span *ngIf="question.required">*</span>
        </span>
      </label>

      <div class="ms-5 me-3 mb-1">
        <textarea class="form-control" [attr.id]="'question' + question.id"
                  formControlName="{{ questionIndex }}" placeholder="max. 1500 Zeichen"></textarea>
      </div>

      <div *ngIf="text?.invalid" class="alert alert-danger p-2 my-2 ms-5 me-3">
        <span *ngIf="text?.errors?.required || text?.errors?.stringIsEmpty">Diese Frage muss beantwortet werden.</span>
        <span *ngIf="text?.errors?.maxlength">Ihre Antwort darf nicht länger als 1500 Zeichen sein.</span>
      </div>
    </div>
  </div>
</div>
